.container
  .row.top
    .col-md-9
      .top-left
        %h1 NLHomesearch.ca
        %h3 Find your home before it goes on the MLS!
    .col-md-3
      .top-right
        = image_tag 'image003.jpg'
  .row.middle
    %h1 Middle
  .row.bottom
    %h1 Bottom