/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1 {
  font-size: 600%;
}
h3 {
  font-size: 200%;
}
h4 {
  font-size: 150%;
}
.container {
  margin-top: 35px;
  border: solid;
  border-color: black;
}
.row.top {
  height: 200px;
  border-bottom: solid;
  border-color: black;
  background-color: #1F3046;
}

.row.middle {
  padding-top: 15px;
  padding-bottom: 30px;
}

.row.bottom {
  border-top: solid;
  border-color: black;
  background-color: #1F3046;
}

.top-left {
  text-align: center;
  color: white;
}
.top-right {
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.bottom-right {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.image-bottom {
  width: 100px;
  height: 50px;
}

.row.mid-mid {
  padding-bottom: 30px;
}

.chris {
  background-image: url('chris.jpg');
  background-size: cover;
  height: 1000px;
}